

.details-view  {
	background-color: rgba(42, 54, 186, 0.7);
	position: relative;
	display: block;
	width: 490px;
	height: 780px;
	margin-left: 0%;
	border-width: 5px;
	border-style: ridge;
	border-radius: 10px;
	border-color: #2A36BA;
	float: left;
}
