
#org-details {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: white;
	color: #000000;
}

#show-controls {
	width: 30%;
	margin-left: 65%;
	margin-top: 10%;
}

