
.checkboxMainBlock {
	background-color: #AAAAAA;
	position: relative;
	display: block;
	width: 700px;
	height: 500px;
}

.lowerBlock {
	position: absolute;
	margin-left: 750px;
	width: 300px;
}

.checkboxCategories {
	display: inline-block;
	position: absolute;
	width: 30%;
	border: 1px solid #000000;
	padding: 1%;
}

.highlight {
	color: orange;
}

.unhighlight {
	color: blue;
}

h1, h2, h3, h4 {
	display: block;
	margin: 0px;
	padding: 0px;
}

.testerCode {
	size: 10px;
}



.Commitment {
}

.RolePlay {
	margin-top: 33%;
}

.Archetype {
	margin-top: 33%;
	margin-left: 33%;
}

.Activities {
	margin-left: 67%;
}

.Recruiting {
	margin-left: 33%;
}

