
.left-block-controls {
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 768px;
	width: 400px;
	margin: 0;
	margin-right: 10px;
	overflow-x: visible;
	white-space: normal;
	z-index: 50;
}

.checkboxCategories /*.Commitment .Roleplay .Archetype .Activities .Recruiting*/{
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 0%;
}

#control-columns {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 0;
}

.columnLeft {
	position: relative;
	width: 32%;
	padding: 1%;
	padding-left: 3%;
	float: left;
	z-index: 100;
}

.columnRight {
	width: 40%;
	padding: 1%;
	padding-left: 3%;
	margin-left: 45%;
}

.checkboxModels {
	position: relative;
	z-index: 2;
}

.highlight {
	color: orange;
	font-weight: bold;
}

.unhighlight {
	color: #33BBFF;
	font-weight: bold;
}

#filterCount{
	width: 100%;
	position: relative;
}

.other-filters {
	position: relative;
	line-height: 16px;
	width: 100%;
}

input[type=number]{
	border-style: solid;
	border-color: orange;
	border-size: 1px;
	width: 50px;
}

#first-layer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	white-space: normal;
	margin-top: -10px;
}

#second-layer {
	width: 100%;
}

#filter-name-SID {
	vertical-align: top;
	position: relative;
	display: inline-block;
	margin: 0;
	width: 47%;
	padding: 0;
	padding-left: 2%;
}
.filter {
	width: 95%;
	margin-bottom: 0;
	padding-bottom: 5px;
}

.filter-button {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	padding: 0;
}

#min-size {
	vertical-align: top;
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	width: 50%-20px;
}
#max-size {
	vertical-align: top;
	position: relative;
	display: inline-block;
	padding: 0;
	padding-left: 20px;
	margin: 0;
	width: 49%-20px;
}

#language {
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 10px;
	margin: 0;
	width: 170%;
	bottom: 0;
	left: -75px;
}


