/*@media only screen and (max-width: 950px) {
	#commitment-language, #SID-archetype {
		display: block !important;
	}
}*/

.view-controller {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

/* List View */

.list-view {
	width: 100%;
}

#list-view-results {
	position: relative;
	display: inline-block;
	width: 100%;
}

table {
	background-color: rgba(42, 54, 186, 0.7);
	border-width: 5px;
	border-style: ridge;
	border-radius: 10px;
	border-color: #2A36BA;
}

th {
	text-align: center;
	border-bottom: 1px dashed gray;
	margin-bottom: 0;
}

.alternate {
	color: orange;
}

tr {
	margin: 0 !important;
	padding: 0 !important;
}

tr:hover {
	background-color: #333333;
}

.highlighted {
	background-color: rgba(0, 153, 204, 0.7) !important;
	
}

#first {
	background-color: transparent;
}

.arrows {
	color: #FF4400;
	font-weight: bold;
	font-size: 25px;
	line-height: 15px;
}

td {
	height: 100%;
	text-align: center;
}

td > div {
	margin: 0 !important;
	padding: 0 !important;
	height: 50px !important;
}

.icon {
	width:  50px !important;
	height: 50px !important;
}

td a {
	display: table;
	position: relative;
	text-decoration: none; 
	color: #DDDDDD;
	width:  100%;
	height: 100%;
	padding-right: 0;
	padding-left: 0;
}

#size-main {
	width: 50px;
}
#size-main-number {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

#growth {
	width: 65px;
}
#growth-number {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

#Name {
	width: 175px;
	overflow-x: visible;
	white-space: normal;
	word-wrap: break-word;
}
tr #Name {
	font-family: Georgia, serif;
	font-size: 16px;
}

#focuses {
	width: 120px;
	text-align: left;
}
tr #focuses {
	font-family: Georgia, serif;
	font-size: 16px;
}

#SID-archetype {
	width: 100px;
	text-align: left;
}

#commitment-language {
	text-align: left;
}
tr #commitment-language {
	font-family: Georgia, serif;
	font-size: 16px;
}

#recruiting-roleplay {
	width: 55px;
}
tr #recruiting-roleplay {
	font-family: Georgia, serif;
	font-size: 16px;
}

/* Grid View */

#gridViewResults{
	display: inline-block;
	position: relative;
	vertical-align: top;
	flex-wrap: wrap;
	white-space: normal;
	height: 50%;
	width: 1200px;
}

@media only screen and (max-width: 1600px){
	#gridViewResults{
		width: 1100px;
	}
}
@media only screen and (max-width: 1400px){
	#gridViewResults{
		width: 900px;
	}
}
@media only screen and (max-width: 1200px){
	#gridViewResults{
		width: 700px;
	}
}


loadButtonGrid{
	position: static;
}

.cell:before {
	display: inline-block;
	padding-top: 243px;
	content:'';
}

.cell {
	display: inline-block;
	position: relative;
	width: 180px;
	border-style: ridge;
	border-width: 5px;
	border-color: black;
	text-align: center;
	background-color: rgba(42, 54, 186, 0.7);
	border-radius: 10px;
	border-color: #2A36BA;
	margin: 3px;
}
#cellWidthJS{width:180px;}

.cell-contents {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	white-space: nowrap;
	line-height: 14px;
}

.cell:hover{
	background-color: rgba(95, 116, 131, 0.7);
	border-width: 5px;
	border-style: ridge;
	border-radius: 10px;
	border-color: #4b5c68;
}

.gridIcon{
	border-radius: 10px;
	height: 75%;
	width: 100%;
}

.lowerBlock {
	position: absolute;
	line-height: 12px;
	margin-left: 750px;
	width: 300px;
}

.loadButton {
	position: absolute;
	right: 260px;
	bottom: -50px;
	font-size: 22px;
	width: 300px;
}

/* used to buffer the data list to make room for the Load More button*/
#coglogo{
	position: absolute;
	right: 100px;
	bottom: -130px;
	size: 40%;
}
#coglogoGrid{
	position: static;
	float: left;
}


