<!DOCTYPE html>
<html lang="en-US">
	<!-- Include the AngularJS library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
</head>
<body ng-app="FrontEndApp">
	<div ng-controller="CheckboxOuterController">
	
		<div ng-controller="CheckboxCommitmentController">
			<form name="checkboxForm">
				<div ng-repeat="box in checkboxModel">
						<label>{{ box.name }}, {{ box.isSelected }}:
						<input type="checkbox" ng-model="box.isSelected" ng-change="callCheckChanged(box.isSelected)"/>
					</label><br/>
				</div>
				<tt>{{checked}} boxes are checked (inner).</tt><br/>
			</form>
			<p ng-show="checked===0">Not filtering</p>
			<p ng-hide="checked===0">Filter applied!</p>
		</div>
		
		<div ng-controller="CheckboxArchetypeController">
			<form name="checkboxForm">
				<div ng-repeat="box in checkboxModel">
						<label>{{ box.name }}, {{ box.isSelected }}:
						<input type="checkbox" ng-model="box.isSelected" ng-change="callCheckChanged(box.isSelected)"/>
					</label><br/>
				</div>
				<tt>{{checked}} boxes are checked (inner).</tt><br/>
			</form>
			<p ng-show="checked===0">Not filtering</p>
			<p ng-hide="checked===0">Filter applied!</p>
		</div>
		
		<tt>{{checkedOuter}} boxes are checked (outer).</tt><br/>
		
	</div>
	
<!-- there is much to read about the proper way to build a dynamic, RESTful url for querying a PHP backend -->
<!--build-where-commitment ng-disabled="checked>0" info="$scope"-->

	<!-- Modules -->
	<script src="frontEnd/js/FrontEndModule.js"></script>

	<!-- Controllers -->
	<script src="frontEnd/js/controllers/CheckboxControllers.js"></script>

	<!-- Services -->
	<script src="frontEnd/js/services/checkChanged.js"></script>
		
	<!-- Directives -->
	
	<!-- Filters -->
	<!--script src="frontEnd/js/Filters.js"></script-->
	
	<!-- Bower -->
	<script src="bower_components/angular/angular.js"></script>

</body>
</html>
	 		
