<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
</head>
<body ng-app="FrontEndApp">
	<!--div ng-controller="MainController"-->
		<div ng-controller="CheckboxController">
			<div ng-repeat="checkboxModel in checkboxModels">
				<print-checkbox></print-checkbox>
			</div>
			<tt>{{checkedOuter.num}} boxes are checked (outer).</tt><br>
		</div>
		<p><a ng-repeat="value in allAppliedFilters">{{ value }}</a></p>
		
	<!--/div-->
	
<!-- there is much to read about the proper way to build a dynamic, RESTful url for querying a PHP backend -->
<!--build-where-commitment ng-disabled="checked>0" info="$scope"-->

	<!-- Include the AngularJS library (no need because bower does it) -->
	<!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script-->
	
	<!-- Bower -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>

	<!-- Modules -->
	<script src="frontEnd/js/FrontEndModule.js"></script>

	<!-- Controllers -->
	<script src="frontEnd/js/controllers/Controllers.js"></script>

	<!-- Services -->
	<script src="frontEnd/js/services/checkboxService.js"></script>
		
	<!-- Directives -->
	<script src="frontEnd/js/directives/printCheckbox.js"></script>
	
	<!-- Filters -->
	<!--script src="frontEnd/js/Filters.js"></script-->
	
</body>
</html>
	 		
