<form name="checkboxForm">
	<h3>{{ checkboxModel.category }}</h3>
	<div ng-repeat="box in checkboxModel.data">
			<input type="checkbox" ng-model="box.isSelected" ng-change=callCheckChanged(box) />
			<label class="checkbox">{{ box.name }}</label><br>
	</div>
</form>
<span class=testerCode>{{checked}} boxes are checked (inner).</span><br>
<span ng-show="checked === 0">Not filtering</span>
<span ng-hide="checked === 0" ng-repeat="value in checkboxModel.appliedFilter"> {{ value }} </span>
<br>
<br>
